.well
  = form_for(@section, :html => {:id => 'section_form'}) do |f|
    .control-group
      %label.control-label{:for => 'status'} Name*
      .controls
        = f.text_field :name
    .control-group
      %label.control-label{:for => 'status'} Category*
      .controls
        = f.select :category_id, @categories.collect{|category| [category.name, category.id] }, selected: @category.id
    .control-group
      %label.control-label{:for => 'textarea'} Content*
      .controls
        = f.text_area :content, class: 'feather-editor'
      = f.submit 'Save', :class => 'btn btn-primary btn-large'
