.well
  = form_for(@section, :html => {:id => 'section_form'}) do |f|
    .control-group
      %label.control-label{:for => 'status'} Name*
      .controls
        = f.text_field :name
    .control-group
      %label.control-label{:for => 'textarea'} Content*
      .controls
        = f.text_area :content, class: 'feather-editor'
    = f.hidden_field :category_id, value: @category.id
    = f.submit 'Save', :class => 'btn btn-primary'
