.page_header
  %h3 Sections
.tabbable
  %ul.nav.nav-tabs
    - @categories.each do |category|
      %li= link_to "#{category.name}", "#category_#{category.id}", data: {toggle: "tab"}
  .tab-content
    - @categories.each do |category|
      .tab-pane{id: "category_#{category.id}"}
        .add_page
          = link_to 'Add Section', new_feather_cms_section_path(category_id: category.id), class: 'btn btn-primary'
        .well.page_tree
          %table.table
            %thead
              %tr
                %th #
                %th Name
                %th Actions
            %tbody
              - category.sections.each_with_index do |section,i|
                %tr
                  %td= (i + 1)
                  %td= link_to section.name.humanize, edit_feather_cms_section_path(section)
                  %td
                    = link_to 'Edit', edit_feather_cms_section_path(section)
                    |
                    = link_to 'Destroy', feather_cms_section_path(section), :method => :delete, :confirm => 'Are you sure?'
