.well.span10
  = form_for(@page, :html => {:id => 'page_form'}) do |f|
    .span4
      .control-group
        %label.control-label{:for => 'status'} Name*
        .controls
          = f.text_field :name
      .control-group
        - unless @page.new_record?
          %label.control-label{:for => 'status'} Status
          .controls
            = f.select :status, FeatherCms::Page::STATUS
        %label.control-label{:for => 'layout'} Layout
        .controls
          = f.select :layout, FeatherCms::Config.layouts
      .control-group
        %label.control-label{:for => 'textarea'} Category
        .controls
          = f.select :category_id, @categories.collect{|category| [category.name, category.id] }, selected: @category.id
        = f.submit 'Save', :class => 'btn btn-primary btn-large'
    .span5
      %h4 Add Sections
      = select_tag 'section_ids[]', options_for_select(@category.sections.collect{|section| [section.name, section.id]}, @page.section_ids), multiple: true
